@model IEnumerable<Uni_HR_Management_System.Models.ConsolidatedLeaveViewModel>


<h1>HR Process Accidental or Annual Leaves</h1>
<a href="/HR/Index">Back</a>
<br>

<table border="1">
    <thead>
        <tr>
            <th>Request ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Type</th>
            <th>Process</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <td>@item.RequestId</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            <td>@item.Type</td>
            <td>
                    <form method="POST" action="HRProccessAnnualAccLeave">
                        <input type="hidden" name="requestID" value="@item.RequestId" />
                        <button type="submit">Process</button>    
                    </form>
            </td>
            </tr>
        }
    </tbody>
</table>

